/* Target the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #f35d6c; /* Change the color of the thumb */
  border-radius: 6px; /* Adjust the border radius of the thumb */
}

/* Target the scrollbar track when the thumb is being dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: #DA4453; /* Change the color on hover */
}

/* Target the scrollbar track when the thumb is active (clicked) */
::-webkit-scrollbar-thumb:active {
  background-color: #89216B; /* Change the color when active */
}

/* Target the scrollbar track when the thumb is at the top */
::-webkit-scrollbar-button:start {
  display: none; /* Hide the top button */
}

/* Target the scrollbar track when the thumb is at the bottom */
::-webkit-scrollbar-button:end {
  display: none; /* Hide the bottom button */
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
